<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anthony Ives</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Sora:wght@500&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'about.css' %}">
</head>
<body>

    <div class="navbar">
        <!-- <div class="left-navbar"> -->
            <ul>
                <li class="name"><a href="/">Anthony Ives</a></li>
                <li><span class="hide">Software Developer</span></li>
                <li class="right-ul"><a href="work">Work</a></li>
                <li class="right-ul"><a href="about">About</a></li>
                <li class="right-ul"><a href="contact">Contact</a></li>
            </ul>
        <!-- </div> -->
    </div>
    <hr>
    <div class="body">
        <img src="static/global_photo.png" alt="earth from space" class="global_photo">
        <h1>“For the things we have to learn before we can do them, we learn by doing them.”</h1>
        <h1><span class="development">- Aristotle</span></h1>
    </div>

    <div class="mid-body">
        <p><span class="p-span">HELLO AGAIN...</span> AS I HAVE ALREADY MENTIONED, I AM A MOSTLY SELF TAUGHT SOFTWARE DEVELOPER WITH EXPERIENCE IN HTML, CSS, JQUERY, AND DJANGO, BUT AM CURRENTLY DELVING INTO REACT. WHEN YOU LOOK PAST MY FREQUENT SARCASM, YOU WILL FIND I AM ACTUALLY REALLY GENUINE, AND A VERY QUICK LEARNER. WHILE CODING IS NOT THE EASIEST SKILL TO LEARN, I HAVE A PASSION FOR IT, AND MY PASSION DRIVES ME TO NEVER STOP LEARNING.</p>

        <p>I BEGAN LEARNING TO CODE WITH FREE RESOURCES, THEN PAID RESOURCES, AND EVENTUALLY STUMBLED INTO AN ONLINE CODING SCHOOL. WHILE ATTENDING CODING CLASSES, I RAPIDLY INCREASED MY KNOWLEDGE OF WEB DEVELOPMENT FASTER THAN I EVER COULD ON MY OWN. AT CODING DOJO I ENROLLED IN FRONT END DEVELOPMENT, THEN SUPPLEMENTED THIS KNOWLEDGE WITH DJANGO, HOWEVER, THE BEST SKILL I ACQUIRED AT CODING DOJO WAS LEARNING INDEPENDANCE IN FINDING ANSWERS. ALTHOUGH I AM NO EXPERT, I AM A MOTIVATED AND SELF SUFFICIENT JUNIOR DEVELOPER.</p>

        <p>I AM CURRENTLY AVAILABLE FOR HIRE AS A FREELANCE SOFTWARE DEVELOPER, BUT MY LONG TERM GOAL IS FULL TIME EMPLOYMENT. TO RE-EMPHASIZE WHAT ARISTOTLE SAID, THE BEST WAY FOR ME TO GET BETTER AT CODING IS TO CREATE MORE PROJECTS, REGARDLESS OR NOT IF THEY ARE FLAWLESS MASTERPIECES.</p>

        <p>THE TYPE OF EMPLOYMENT I AM SEEKING IS VERY FLEXIBLE. I WOULD PREFER REMOTE OR PARTIALLY REMOTE WORK FROM HOME, BUT SINCE I ONLY LIVE THIRTY MINUTES NORTH OF DENVER, ON SITE WORK WOULD BE GREAT AS WELL. WHEN I LIVED IN SOUTHERN CALIFORNIA MY DAILY COMMUTE WAS FOUR HOURS ROUND TRIP; I JUST WANT TO AVOID THAT AGAIN IS ALL..</p>
    </div>

    <br><hr class="lower-break">

    <div class="lower-body">
        <h4>MY PERSONAL STORY, AGAIN...</h4>
        <p class="lower-p"><span class="lower-span">I</span> am a typical Southern Califonia native, now living as a transplant in Colorado. As a kid I grew up surfing, enjoying beachside bonfires, and I used my skateboard as my means of transportation.</p> 
        <br>
        <p class="lower-p">After graduating high school, I became an Emergecny Medical Technician, and completed a fire academy. I have since spent the past 14 years as a first responder. When I wasn't working, I used to spend my time weightlifting, rock climbing, fishing, and and backpacking, occassionally tackling the summit of a 14er.</p>
        <br> 
        <p class="lower-p">More recently, however, I became a father of the best, but most difficult little boy I can imagine. Now my free time consists of fuelling my coffee addiction to overcome my exhaustion, and making sure I give my son, Jax, the best life possible. Our days generally involve a park visit, a bike ride, playtime with problem solving toys, and Jax stealing my food, because his is apparently never good enough. I am transitioning out of my role as a first responder, so I can provide a better life for my family.</P>   
    </div>
    <footer>
        <p class="footer"><a href="https://www.linkedin.com/in/anthony-ives-305237103/">LINKEDIN</a></p>
        <p class="footer"><a href="contact">CONTACT</a></p>
    </footer>
</body>
</html>

