<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anthony Ives</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Sora:wght@500&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'submission.css' %}">
</head>
<body>

    <div class="navbar">
        <!-- <div class="left-navbar"> -->
            <ul>
                <li class="name"><a href="/">Anthony Ives</a></li>
                <li><span class="hide">Software Developer</span></li>
                <li class="right-ul"><a href="work">Work</a></li>
                <li class="right-ul"><a href="about">About</a></li>
                <li class="right-ul"><a href="contact">Contact</a></li>
            </ul>
        <!-- </div> -->
    </div>
    <hr>
    <div class="body">

        <h1>Thank you for your submission!</h1>
        
        <h3>I will respond to you as soon as I can</h3>
    </div>
    
    <footer class="contact-footer">
        <p class="contact-pfooter"><a href="https://www.linkedin.com/in/anthony-ives-305237103/">LINKEDIN</a></p>
        <p class="contact-pfooter"><a href="contact">CONTACT</a></p>
    </footer>
</body>
</html>

