<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anthony Ives</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Sora:wght@500&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'work.css' %}">
</head>
<body>

    <div class="navbar">
        <!-- <div class="left-navbar"> -->
            <ul>
                <li class="name"><a href="/">Anthony Ives</a></li>
                <li><span class="hide">Software Developer</span></li>
                <li class="right-ul"><a href="work">Work</a></li>
                <li class="right-ul"><a href="about">About</a></li>
                <li class="right-ul"><a href="/contact">Contact</a></li>
            </ul>
        <!-- </div> -->
    </div>
    <hr>
    
    <div class="mid-body">
        <h2>PROJECTS</h2>
        <div class="project1-div">
            <p class="project1-p"><a href="coming_soon">Project 1</a></p>
            <a href="coming_soon"><img src="static/project1.png" alt="my first project" class="project1"></a>
        </div>
        <div class="project2-div">
            <p class="project2-p"><a href="coming_soon">Project 2</a></p>
            <a href="coming_soon"><img src="static/project2.png" alt="my second project" class="project2"></a>
        </div>
        <div class="project3-div">
            <p class="project3-p"><a href="coming_soon">Project 3</a></p>
            <a href="coming_soon"><img src="static/project3.png" alt="my third project" class="project3"></a>
        </div>
    </div>
    
    <footer>
        <p class="footer"><a href="https://www.linkedin.com/in/anthony-ives-305237103/">LINKEDIN</a></p>
        <p class="footer"><a href="/contact">CONTACT</a></p>
    </footer>
</body>
</html>

